@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a{
	box-shadow: inset 0 -3px 0px 0px #2eec96  ;
}

a:hover{
	box-shadow: inset 0 -25px 0px 0px #2eec96  ;
	transition: all .2s ease-in-out;
}

body{
	font-family: 'Crimson Text', serif;
}

.footer-social-icons {
 	width: 350px;
    display:block;
    margin: 0 auto;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #2eec96;
}

.fa-medium{
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-medium:hover {
    background-color: #2eec96;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #2eec96;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #2eec96;
}

.fa-envelope {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-envelope:hover {
    background-color: #2eec96;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #2eec96;
}

.social-icon {
    color: #fff;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.large-text{

	margin-left: -.051em;
	font-size: 10rem;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}

.medium-text{
	margin-left: -.051em;
	font-size: 5rem;
	font-weight: 200;
	line-height: 1;
	margin-bottom: 0;
}

.default-text{

}

.fullstop{
	color:#2eec96;
	font-weight: 900;
}

