@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root {
  --fontcolor: #5d6d7e;
  --hrefcolor: #2eec96;
  --darkcolor: #5d6d7e;
  --very-dark: black;
  --lightfont:#afbac6;
  --white:white;
}

a{
	box-shadow: inset 0 -3px 0px 0px var(--hrefcolor)  ;
    color: var(--fontcolor);
}

a:hover{
	box-shadow: inset 0 -0.5em 0px 0px var(--hrefcolor) ;
	transition: all .2s ease-in-out;
    color: var(--fontcolor);
}
body{
	font-family: 'Crimson Text', serif;
    padding-top: 0px;
    display: flex;
    color: var(--darkcolor);
    padding-bottom: 25px;
}

@media only screen and (max-width: 350px){

}

.fa-medium{
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--hrefcolor);
    color:var(--very-dark) ;
}

.fa-medium:hover {
    background-color: var(--very-dark);
    color: var(--white);
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--hrefcolor);
    color:var(--very-dark) ;
}
.fa-github:hover {
    background-color: var(--very-dark);
    color: var(--white);
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--hrefcolor);
    color:var(--very-dark) ;
}
.fa-linkedin:hover {
    background-color: var(--very-dark);
    color: var(--white);
}

.fa-envelope {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--hrefcolor);
    color:var(--very-dark) ;
}

.fa-envelope:hover {
    background-color: var(--very-dark);
    color: var(--white);
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: var(--hrefcolor);
    color:var(--very-dark) ;
}
.fa-facebook:hover {
    background-color: var(--very-dark);
    color: var(--white);
}

.large-text{
	margin-left: -.051em;
    font-size: 10vw;
	font-weight: 900;
	margin-bottom: 0;
    line-height: 1;
	text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    color: var(--very-dark);
}

.medium-text{
	margin-left: -.051em;
	font-size: 10vh;
	font-weight: 200;
	line-height: 1.4;
	margin-bottom: 0;
}

.default-text{
    margin-left: -.051em;
    font-size: 4vh;
    font-weight: 200;
    line-height: 1.4;
    margin-bottom: 0;
}

.fullstop{
	color:var(--hrefcolor);
	font-weight: 900;
}


#content { margin-left: -.051em;}  
 
.expandable {
  background: #fff;
  margin-left: -.051em;
  overflow: hidden;
  height: 0;
  transition: all 0.5s ease-in-out;
 }
  .expandable:target {
  height: auto;
}
 
 .parallaxIntro {
  background-image: url('../images/sam0410.jpg');
  height: 55%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

